.panel {
  width: 50%;
}

.results {
  text-align: center;
  font-size: 3em;
  display: flex;
  float: left;
  width: 100%;
  color: white;
  background-color: #000;
  justify-content: space-around;
  border-radius: 5px;
}

.results div {
  width: 100%;
  transition-duration: 500ms;
}

#result-alcohol {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#result-gasoline {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#header {
  background-color: #01454f;
  height: 35%;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.group {
  width: 80%;
  color: #fff;
  font-size: large;
  display: flex;
  justify-content: center;
}

.input,
button {
  font-size: 20px;
}

button {
  background-color: orange;
  border-style: none;
  height: 50px
}

html, body {
  background-color: #01454f;
  margin: 0;
  padding: 0;
  font-family: Open Sans, lucida grande, Segoe UI, arial, verdana, lucida sans unicode, tahoma, sans-serif
}

body {
  height: 100%;
}

#container {
  height: 65%;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider.alcohol::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: green;
  cursor: pointer;
}

.slider.alcohol::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: green;
  cursor: pointer;
}

.slider.gasoline::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: red;
  cursor: pointer;
}

.slider.gasoline::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: red;
  cursor: pointer;
}

[tooltip] {
  margin-top: 20px;
  position: relative;
  display: inline-block;
}

[tooltip]::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 4px 6px 0 6px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
  z-index: 99;
  opacity: 0;
}

[tooltip-position='left']::before {
  left: 0%;
  top: 50%;
  margin-left: -12px;
  transform: translatey(-50%) rotate(-90deg)
}

[tooltip-position='top']::before {
  left: 50%;
}

[tooltip-position='buttom']::before {
  top: 100%;
  margin-top: 8px;
  transform: translateX(-50%) translatey(-100%) rotate(-180deg)
}

[tooltip-position='right']::before {
  left: 100%;
  top: 50%;
  margin-left: 1px;
  transform: translatey(-50%) rotate(90deg)
}

[tooltip]::after {
  content: attr(tooltip);
  position: absolute;
  left: 50%;
  top: -6px;
  transform: translateX(-50%) translateY(-100%);
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  color: #fff;
  padding: 4px 2px;
  font-size: 12px;
  min-width: 80px;
  border-radius: 5px;
  pointer-events: none;
  padding: 4px 4px;
  z-index: 99;
  opacity: 0;
}

[tooltip-position='left']::after {
  left: 0%;
  top: 50%;
  margin-left: -8px;
  transform: translateX(-100%) translateY(-50%);
}

[tooltip-position='top']::after {
  left: 50%;
}

[tooltip-position='buttom']::after {
  top: 100%;
  margin-top: 8px;
  transform: translateX(-50%) translateY(0%);
}

[tooltip-position='right']::after {
  left: 100%;
  top: 50%;
  margin-left: 8px;
  transform: translateX(0%) translateY(-50%);
}

[tooltip]:hover::after,
[tooltip]:hover::before {
  opacity: 1
}
