.panel {
  width: 50%;
}

.results {
  text-align: center;
  font-size: 3em;
  display: flex;
  float: left;
  width: 100%;
  color: white;
  background-color: #000;
  justify-content: space-around;
  border-radius: 5px;
}

.results div {
  width: 100%;
  transition-duration: 500ms;
}

#result-alcohol {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#result-gasoline {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#header {
  background-color: #01454f;
  height: 35%;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.group {
  color: #fff;
  font-size: large
}

.input,
button {
  font-size: 20px;
}

button {
  background-color: orange;
  border-style: none;
  height: 50px
}

html, body {
  background-color: #01454f;
  margin: 0;
  padding: 0;
  font-family: Open Sans, lucida grande, Segoe UI, arial, verdana, lucida sans unicode, tahoma, sans-serif
}

body {
  height: 100%;
}

#container {
  height: 65%;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-flow: column;
}

footer {
  text-align: center;
  color: #fff;
  width: 100%;
  height: 10%;
  display: flex;
}

footer a:active {
  color: orange
}

footer a:visited {
  color: silver
}
